/1_Algebraic_functions/
/2_Exponentials/
/3_Logarithms/
/4_Trig_functions/
/5_Inverse_trig_functions/
/6_Hyperbolic_functions/
/7_Inverse_hyperbolic_functions/
/8_Special_functions/
/9_Miscellaneous/
